<%- include('partials/header'); -%>


<div class="d-flex justify-content-center align-items-center maindiv color-grey">
  <div class="jumbotron centered">
    <div class="container text-center">

      <h1 class="heading text-arsenic">Placement Portal</h1>
      <p class="par text-arsenic">Welcome</p>
      <hr style="background-color: #3F3E42; height: 2px; opacity: 1; margin-top: 50px; margin-bottom: 50px">
      <a class="btn color-green btn-lg" href="/admin_login" role="button"><span style="color: #000">Admin</span></a><br>
      <a class="btn color-green btn-lg" href="/student_login" role="button"><span style="color: #000">Student</span></a><br>
      <a class="btn color-green btn-lg" href="/company_login" role="button"><span style="color: #000">Company</span></a><br>
    </div>
  </div>

</div>





<%- include('partials/footer'); -%>
