.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-style: solid;
  border-color: #000;
  border-width: medium;
  border-radius: 5px;

}

.btn:hover{
  border-radius: 40px;
  transition: 0.4s;
  background-color: #90EE90;
  border-color: #90EE90;
}
.btn-update{
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;

  border-style: solid;
  border-color: green;
  border-width: medium;
  border-radius: 5px;
  color: #000;
}
.btn-entry{
  width: 100%;
  padding: 15px;

  border-color: #3FA037;
}

.btn-danger{
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;

  border-style: solid;
  border-color: #ff1919;
  border-width: medium;
  border-radius: 5px;
  color: #000;
}

.btn-danger:hover{
  background-color: #ff1919;
  border-color: #ff1919;
  color: #000;
}

.btn-logout{
  width: 100px;

}

.btn-logout:hover{
  background-color: #fff;
}

.card{
  border-style: none;
}




.container-fluid{
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.font-mb{
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
}
.formbody
{
  width:35%;
  padding-top: 20px;
  text-align: center;
  margin-left: 50px;
}
.font-ml{
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: bold;
}

.heading{
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.maindiv{
  height: 100vh;
}

.margin-tb{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-header{
  margin-left: 2%;
}

.nav-secondary{
  margin-bottom: 50px;
}

.par{
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  font-size: 2rem;
}


.row{
  align-items: center;
}






.color-green{
  background-color: #4DB33D
}

.color-dgreen{
  background-color: #3FA037
}


.color-gray{
  background-color: #C1BEBC;
}

.color-red{
  background-color: #ff1919;
}
.color-black{
  background-color: black;
}

.text-arsenic{
  color: #3F3E42
}
