.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-style: solid;
  border-color: #000;
  border-width: medium;
  border-radius: 5px;
}

.btn:hover{
  border-radius: 30px;
  transition: 0.35s;
}

.btn-logout{
  width: 100px;
  margin-left: 10px;
}

.card{
  border-style: none;
}


.container-fluid{
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.font-mb{
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
}

.font-ml{
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.heading{
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.maindiv{
  height: 100vh;
}

.margin-tb{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-header{
  margin-left: 2%;
}

.par{
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  font-size: 2rem;
}





/* colors */

.color-green{
  background-color: #4DB33D
}

.color-dgreen{
  background-color: #3FA037
}


.color-gray{
  background-color: #C1BEBC;
}

.text-arsenic{
  color: #3F3E42
}
